html {
    --color-one: rgba(242, 229, 210, 1);
    --color-two: rgba(244, 201, 139, 1);
    --color-three: rgba(191, 181, 166, 1);
    --color-four: rgba(114, 108, 99, 1);
    --color-five: rgba(75, 71, 66, 1);
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(245, 240, 240);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    position: relative;
    width: 600px;
    height: 600px;
}

.clockLine {
    position: absolute;
    background-color: var(--color-four);
    border-radius: 5px;
}

.clock__firstLine {
    left: 200px;
    /* left: 33%; */
    top: -15px;
    /* width: 83%; */
    width: 500px;
    height: 2px;
}

.clock__secondLine {
    left: 250px;
    top: -25px;
    width: 400px;
    height: 2px;
}

.clock__thirdLine {
    left: 610px;
    top: -80px;
    width: 2px;
    height: 400px;
}

.clock__fourthLine {
    width: 200px;
    height: 2px;
    top: 620px;
    left: -40px;
}

.clock__fifthLine {
    width: 300px;
    height: 2px;
    top: 630px;
    left: -60px;
}

.clock__sixthLine {
    width: 100px;
    height: 2px;
    top: 610px;
    left: -10px;
}

.clock__seventhLine {
    width: 2px;
    height: 100px;
    top: 511px;
    left: -10px;
}

.clock__eighthLine {
    width: 2px;
    height: 300px;
    top: 380px;
    left: -20px;
}

.clock__centerPoint {
    position: absolute;
    left: 297px;
    top: 297px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--color-four);
}