/*  min width and height 100px */

/*  Clock is design to be square */

.clock {
    /* Clock color */
    --color-one: rgba(242, 229, 210, 1);
    --color-one-transparent: rgba(242, 229, 210, 0.35);
    --color-two: rgba(244, 201, 139, 1);
    --color-three: rgba(191, 181, 166, 1);
    --color-four: rgba(114, 108, 99, 1);
    --color-four-transparent: rgba(114, 108, 99, 0.8);
    --color-five: rgba(75, 71, 66, 1);
    /* ---------- */
    position: relative;
    width: 600px;
    min-width: 100px;
    height: 600px;
    min-height: 100px;
    background-color: var(--color-one-transparent);
    border-radius: 10%;
}

.clockLine {
    position: absolute;
    background-color: var(--color-four);
    border-radius: 5px;
}

.clock__firstLine {
    left: 33%;
    top: -2.5%;
    width: 84%;
    height: .3%;
}

.clock__secondLine {
    height: 2px;
    left: 42%;
    top: -4%;
    width: 67%;
    height: .3%;
}

.clock__thirdLine {
    left: 101.6%;
    top: -13.5%;
    width: .4%;
    height: 66%;
}

.clock__fourthLine {
    width: 33.5%;
    height: .3%;
    top: 103.3%;
    left: -6.6%;
}

.clock__fifthLine {
    width: 50%;
    height: .3%;
    top: 105%;
    left: -10%;
}

.clock__sixthLine {
    width: 17%;
    height: .3%;
    top: 101.5%;
    left: -1.5%;
}

.clock__seventhLine {
    width: .3%;
    height: 16.6%;
    top: 85.3%;
    left: -1.5%;
}

.clock__eighthLine {
    width: .3%;
    height: 50%;
    top: 63.5%;
    left: -3.3%;
}

.clock__centerPoint {
    position: absolute;
    left: 49%;
    top: 49%;
    width: 2%;
    height: 2%;
    border-radius: 50%;
    background-color: var(--color-four);
}

/* ----------------------------------------------------------- */

/* ----------------------------------------------------------- */

/* ----------------------------------------------------------- */

/* ----------------------------------------------------------- */

.clock__hourPointer {
    position: absolute;
    left: 49.4%;
    top: 7%;
    width: 1.2%;
    height: 36%;
    background-color: var(--color-four);
    border-radius: 40%;
    opacity: 0.9;
    /* ----------------- */
    /* display: none; */
}

.clock__minutePointer {
    position: absolute;
    left: 49.75%;
    top: 2%;
    width: .8%;
    height: 46%;
    /* background-color: var(--color-four); */
    background-color: var(--color-four-transparent);
    border-radius: 30%;
    opacity: 0.9;
    /* display: none; */
}

.clock__secondsPointer {
    position: absolute;
    left: 49.75%;
    top: 17%;
    width: .8%;
    height: 26%;
    background-color: var(--color-one);
    border-radius: 30%;
    opacity: 0.8;
    /* display: none; */
}